

.action-form__container {
    display: flex;
    flex-direction: column;
    margin: 0 200px 0 0;
}

.action-form__title {
    margin: 0;
    width: 304px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: var(--main-text-color);
}

.action-form__btns {
    display: grid;
    margin: 20px 0 0;
    grid-template-columns: 136px 136px;
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
    column-gap: 16px;
}

.action-form__btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
}

.action-form__btn_back {
    border: 1px solid var(--main-border-color-hover);
}

.action-form__btn_action{
    background-color: var(--main-link-color);
}

.action-form__btn-text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    text-align: center;
}

.action-form__btn-text_back {
    color: var(--main-text-color);
}

.action-form__btn-text_action{
    color: var(--main-link-text-color);
}

@media (max-width: 1280px) {
    .action-form__container{
        margin: 0 20px 0 0;
    }
}

@media (max-width: 960px) {
    .action-form__container{
        margin: 0;
    }
    .action-form__title {
        max-width: 304px;
        width: unset;
    }
    .action-form__btns{
        grid-template-columns: 1fr 1fr;
    }
}