.transfer-popup {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.transfer-popup_active {
    visibility: visible;
}



.transfer-popup__container {
    font-family: 'Urbanist';
    width: 320px;
    height: 300px;
    background: var(--main-popup-background-color);
    z-index: 1001;
    position: relative;
    /* padding-bottom: 70px;
      transform: translateY(70px); */
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.2s linear;
    border: 1px solid var(--main-border-color);
    box-sizing: border-box;
    border-radius: 16px;
    padding: 20px 16px;
}

.transfer-popup__container_active {
    opacity: 1;
}

.transfer-popup__close-fill {
    fill: var(--main-text-color);
}

.transfer-popup__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    opacity: 0;
    z-index: 999;
    transition: opacity 0.4s linear;
}

.transfer-popup__background_active {
    opacity: 0.3;
    transition: opacity 0.4s linear;
}

.transfer-popup__close {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: rgba(18, 18, 18, 0);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    margin: 2px 0 0 auto;
}


.transfer-popup__title {
    color: var(--main-text-color);
    margin: 4px 0 0;
    font-family: 'Urbanist', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
}

.transfer-popup__input-title {
    margin: 28px 0 0;
    color: var(--main-text-color);
    opacity: 0.8;
    font-family: 'Urbanist', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
}

.transfer-popup__input-container {

    background-color: var(--main-popup-input-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 8px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    margin: 8px 0 0;
}

.transfer-popup__input {

    -webkit-appearance: none;
    background-color: unset;
    font: unset;
    text-rendering: unset;
    letter-spacing: unset;
    word-spacing: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    display: unset;
    text-align: unset;
    appearance: unset;
    font-style: normal;
    border: none;

    transition: color 0.2s linear;
    margin: 0;
    font-family: 'Urbanist', 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;

    caret-color: var(--main-text-color);
    color: var(--main-text-color);
    width: 80%;
    padding: 0;

}

.transfer-popup__input_error {
    color: #FF5625;
}

.transfer-popup__input:focus {
    outline: none;

}

.transfer-popup__input::-webkit-outer-spin-button,
.transfer-popup__input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.transfer-popup__input::placeholder {
    color: var(--main-text-color);
    opacity: 0.4;
}

.transfer-popup__near-icon {
    width: 16px;
    height: 16px;
}

.transfer-popup__near-icon-fill {
    fill: var(--main-text-color);
}

.transfer-popup__summary {
    display: flex;
    flex-direction: column;
    margin: 12px 0 0;
    width: 100%;
}

.transfer-popup__summary-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0 0;
    /* box-sizing: border-box;
    padding: 0 12px 0 0; */
}

.transfer-popup__summary-item:first-of-type {
    margin: 0;
}

.transfer-popup__summary-value {
    margin: 0;
    color: var(--main-text-color);
    opacity: 0.8;
    font-family: 'Urbanist', 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
}

.transfer-popup__summary-in-near {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.transfer-popup__summary-in-near-value {
    margin: 0 4px 0 0;
    color: var(--main-text-color);
    opacity: 0.8;
    font-family: 'Urbanist', 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
}

.transfer-popup__hint {
    margin: 28px 0 0;
    color: var(--main-text-color);
    opacity: 0.8;
    font-family: 'Urbanist', 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
}

.transfer-popup__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 0;
    background-color: var(--main-link-color);
    border-radius: 100px;
    margin: auto 0 0;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.transfer-popup__btn_remove {
    background-color: transparent;
    opacity: 1;
    border: 1px solid var(--main-border-color);
}

.transfer-popup__btn:first-of-type {
    margin: 0;
}

.transfer-popup__btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 28px 0 0;
}

.transfer-popup__btn_active {
    opacity: 1;
}

.transfer-popup__btn-text {
    color: var(--main-link-text-color);
    margin: 0;
    font-family: 'Urbanist', 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
}

.transfer-popup__btn-text_remove {
    color: var(--main-text-color);
}

.transfer-popup__error {
    margin: 8px 0 0;

    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */



    color: rgba(249, 44, 44, 0.8);

}

@media (max-width: 448px) {
    .transfer-popup__container {
        width: 90%;

    }


}