.notify-popup {
    position: absolute;
    right: -1px;
    top: 48px;
    background-color: var(--main-popup-background-color);
    border-radius: 16px;
    width: 338px;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transform: scale(0, 0);
    transition: transform 0.3s ease-in-out;
}

.notify-popup_active {
    transform: scale(1, 1);
    animation: 0.15s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both running popup;
}


.notify-popup__close {
    margin: 0 0 0 auto;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.notify-popup__close-fill {
    fill: var(--main-text-color);
}

.notify-popup__title {
    margin: -16px 0 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--main-text-color);
    opacity: 0.4;
    width: fit-content;
}

.notify-popup__items {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 300px;
    margin: 0 0 0;

}



.notify-popup__items::-webkit-scrollbar {
    width: 3px;
}

.notify-popup__items::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px var(--main-element-secondary-bg); */
    border: none;
    outline: none;
    background-color: var(--main-element-secondary-bg);
}

.notify-popup__items::-webkit-scrollbar-thumb {
    background-color: var(--main-subtitle-text-color);
    outline: none;
    border-radius: 100px;
}

.notify-popup__items_hide-scroll::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px var(--main-element-secondary-bg); */
    border: none;
    outline: none;
    background-color: transparent !important;
}

.notify-popup__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 4px 8px 0 0;
    transition: background-color 0.3s ease-in-out;
}

.notify-popup__item:first-of-type {
    margin: 0 8px 0 0;
}

.notify-popup__item_not-seen {
    background-color: var(--main-border-color);
}

.notify-popup__preview {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;

}

.notify-popup__preview-link {
    width: 60px;
    height: 60px;
    margin: 0 12px 0 0;
}


.notify-popup__data-act {
    margin: 5px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Urbanist', 'Roboto';

}

.notify-popup__data-act-text {
    margin: 0;
    padding: 0 5px 0 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-text-color);
    flex-direction: row;
    align-items: center;
}

.notify-popup__data-act-text-link {
    font-style: normal;
    font-weight: 600;
    padding: 0 5px 0 0;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-link-color);
    text-decoration: none;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notify-popup__see-all-link {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 240%;
    width: fit-content;
    margin: 0;
    color: var(--main-link-color);
    text-decoration: none;
}

.notify-popup__data-act-text_comment {
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notify-popup__data-act-text-value {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding: 0 5px 0 0;
    line-height: 130%;
    color: var(--main-text-color);
    display: flex;
    flex-direction: row;

}

.notify-popup__data-act-text-value-near-icon-fill {
    fill: var(--main-text-color);
}

.notify-popup__data-act-text-value-near-icon {
    width: 14px;
    height: 14px;
    margin: 2px 0 0 2px;
}

.notify-popup__no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.notify-popup__no-data-img {
    margin: 32px 0 0;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.notify-popup__no-data-text{
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    margin: 20px 0 0;
    width: 90%;
    text-align: center;
}

.notify-popup__data-act-text-nowrap{
    white-space: nowrap;
}

@media (max-width: 700px) {
    .notify-popup {
        display: flex;
        transform: scale(1, 1);
        width: 100%;
        position: fixed;
        bottom: -100vh;
        top: unset;
        left: 0;
        background-color: var(--main-popup-background-color);
        height: fit-content;
        z-index: 10;
        transition: transform 0.3s ease-in-out;
        box-sizing: border-box;
        border-radius: 16px 16px 0px 0px;
        padding: 12px 12px 0 12px;
        display: flex;
        flex-direction: column;
    }

    .notify-popup_active {

        transform: scale(1, 1);
        transform: translateY(-100vh);
        animation: unset;

    }


    .notify-popup__close {
        width: 22px;
        height: 22px;
    }
}