.create-item {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
}

.create-item__title {
    margin: 64px auto 0;
    max-width: 900px;
    width: 100%;
    color: var(--main-text-color);
    font-family: 'Urbanist';
    align-self: flex-start;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 100%;
}

.create-item__title-error{
    margin: 20px auto 0;
    max-width: 900px;
    width: 100%;
    font-family: 'Urbanist';

    align-self: flex-start;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #FF5449;
}

.create-item__container {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    width: 100%;
    margin: 40px 0 0;
    position: relative;
    /* margin: 0 0 0 148px;
    height: 100px;
    background-color: aqua; */
}

.create-item__inputs {
    display: flex;
    flex-direction: column;
    max-width: 468px;
    width: 100%;
    margin: 0 64px 0 0;
}

.create-item__input {
    display: flex;
    flex-direction: column;
}

.create-item__input-title {
    margin: 0;
    color: var(--main-text-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

.create-item__input-subtitle {
    margin: 8px 0 0;
    color: var(--main-subtitle-text-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
}

.create-item__input-file-container {
    display: flex;
    flex-direction: column;
    width: 274px;
    align-items: center;
}


.create-item__file-box {
    margin: 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--main-border-color);
    width: 100%;
    height: 274px;
    border-radius: 32px;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
}

.create-item__file-box-img {
    width: 100%;
    /* max-height: 100%; */
    object-fit: cover;
    border-radius: 32px;
}


.create-item__file-box-icon {
    width: 58px;
    height: 33px;
}

.create-item__file-box-icon-fill {
    fill: var(--main-text-color);
    transition: fill 0.3s ease-in-out;
}

.create-item__file-box-icon-fill_error {
    fill: #FF5449;
}

.create-item__file-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0;
}


.create-item__input-file {
    display: none;
}

.create-item__file-error {
    margin: 20px 0 0;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    text-align: center;
    color: #DE0E0E;

}

.create-item__custom-input-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    background-color: var(--main-link-color);
    padding: 12px 16px;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
}

.create-item__file-box_error {
    background: rgba(255, 84, 73, 0.40);
}



.create-item__custom-input-file-text {
    margin: 0;
    font-family: 'Urbanist';
    font-style: normal;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: var(--main-link-text-color);
}



.create-item__input-elem {

    -webkit-appearance: none;
    background-color: unset;
    font: unset;
    text-rendering: unset;
    letter-spacing: unset;
    word-spacing: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    display: unset;
    text-align: unset;
    appearance: unset;
    font-style: normal;
    border: none;
    transition: color 0.2s linear;
    transition: border-color 0.2s linear;
    margin: 20px 0 0;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;

    caret-color: var(--main-text-color);
    color: var(--main-text-color);
    width: 100%;
    padding: 0;
    padding-bottom: 12px;
    border-bottom: 2px solid var(--main-border-color);

}

.create-item__input-elem:focus {
    outline: none;
    border-bottom-color: var(--main-link-color);
}

.create-item__input-elem::placeholder {
    transition: color 0.2s linear;
    color: var(--main-text-color);
    opacity: 0.4;
}

.create-item__input-elem::-webkit-outer-spin-button,
.create-item__input-elem::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.create-item__input-elem_error {
    color: #FF5625;
}

.create-item__input-elem_error {
    border-bottom-color: #FF5625 !important;
}

.create-item__input-lenght {
    margin: 8px 0 0;
    color: var(--main-subtitle-text-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    opacity: 0.4;
    text-align: right;
    width: 100%;
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.create-item__bio-input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px 0 0;
}

.create-item__custom-url-input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px 0 0;
}

.create-item__textarea {

    -webkit-appearance: none;
    background-color: unset;
    font: unset;
    text-rendering: unset;
    letter-spacing: unset;
    word-spacing: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    display: unset;
    text-align: unset;
    appearance: unset;
    font-style: normal;
    border: none;

    transition: border-color 0.2s linear;
    margin: 20px 0 0;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;

    caret-color: var(--main-text-color);
    color: var(--main-text-color);
    width: 100%;
    padding: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--main-border-color);
    resize: none;
    overflow: auto;
}

.create-item__textarea:focus {
    outline: none;
    border-bottom-color: var(--main-link-color);
}

.create-item__textarea::placeholder {
    transition: color 0.2s linear;
    color: var(--main-text-color);
    opacity: 0.4;
}

.create-item__input-lenght_error {
    color: #FF5625;
    opacity: 1;
}

.create-item__input-lenght_with-error {
    margin: 0 0 0 auto;
    width: fit-content;
}

.create-item__input-bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0 0;
}

.create-item__inpot-error {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    margin: 0 auto 0 0;
    width: fit-content;
    color: #FF5625;

}

.create-item__input_type_name {
    margin: 40px 0 0;
}

.create-item__input_type_link {
    margin: 40px 0 0;
}

.create-item__input_type_description {
    margin: 40px 0 0;
}

.create-item__content-warning {
    display: flex;
    flex-direction: column;
    margin: 60px 0 0;
    width: 100%;
}

.create-item__input_type_price {
    margin: 40px 0 0;
}

.create-item__input_type_properties {
    margin: 40px 0 0;
}

.create-item__content-warning-heading {
    display: flex;
    flex-direction: row;

}

.create-item__content-warning-heading-icon {
    width: 30px;
    height: 30px;
    margin: 0 20px 0 0;
}

.create-item__content-warning-heading-icon-fill {
    fill: var(--main-text-color);
}

.create-item__content-warning-heading-text {
    margin: 0;
    color: var(--main-text-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;

    max-width: calc(100% - 30px - 20px);
}

.create-item__content-warning-selector {
    display: flex;
    flex-direction: row;
    margin: 20px 0 0;
}

.create-item__content-warning-selector-text {
    margin: 0 23px 0 0;
    color: var(--main-text-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    max-width: calc(100% - 23px - 51px);
}

.create-item__content-warning-selector-handler {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 51px;
    height: 31px;
    background-color: var(--main-border-color);
    border-radius: 100px;
    padding: 0 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.create-item__content-warning-selector-handler_active {
    background-color: var(--main-link-color);
}

.create-item__content-warning-selector-handler-circle {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: var(--main-link-text-color);
    transition: margin 0.3s ease-in-out;
}

.create-item__content-warning-selector-handler-circle_active {
    margin: 0 0 0 20px;
}

.create-item__submit {
    margin: 40px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    background-color: var(--main-link-color);
    opacity: 0.3;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.create-item__submit-text {
    margin: 0;
    color: var(--main-link-text-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
}

.create-item__submit_active{
    opacity: 1;
}

.create-item__preview {
    display: flex;
    flex-direction: column;
    position: sticky;
    height: fit-content;
    top: 0;
    left: 0;
    width: calc(100% - 64px - 468px);
    margin: -128px 0 0;
    padding: 128px 0 0;
}

.create-item__preview-container {
    display: flex;
    flex-direction: column;
}

.create-item__preview-title {
    margin: 0;
    color: var(--main-text-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

.create-item__preview-card {
    margin: 20px 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.create-item__double-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 38px;
    grid-auto-rows: 38px;
    row-gap: 12px;
    column-gap: 12px;
    align-items: center;
    justify-items: center;
    margin: 20px 0 0;
}

.create-item__double-inputs:first-of-type {
    margin: 0;
}

.create-item__add-props-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;

    background: rgba(131, 131, 254, 0.2);
    border: 1px solid var(--main-link-color);
    box-sizing: border-box;
    border-radius: 100px;
    width: fit-content;
    margin: 12px 0 0;
    cursor: pointer;
}

.create-item__add-props-btn-text {
    color: var(--main-link-color);
    text-align: center;
    margin: 0;
}

.create-item__double-inputs-box {
    display: flex;
    flex-direction: column;
}

.create-item__double-inputs-delite {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    width: fit-content;
    margin: 20px 0 0 auto;
    color: var(--main-link-color);
    cursor: pointer;
}

.create-item__input_type_royalties {
    margin: 40px 0 0;
}

.create-item__inpot-hint {
    margin: 0 auto 0 0;
    color: var(--main-subtitle-text-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
    width: fit-content;
    opacity: 0.8;
}

.create-item__input-relative-box {
    position: relative;
}

.create-item__input-percent-text {
    margin: 0;
    color: var(--main-text-color);
    position: absolute;
    right: 0;
    top: 26px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    opacity: 0.8;
}

.create-item__input-subtitle_span {
    color: var(--main-text-color);
}

.create-item__collection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin: 20px 0 0;

    border: 1px solid var(--main-border-color);
    box-sizing: border-box;
    border-radius: 16px;
    padding: 27px 15px;
    cursor: pointer;
}

.create-item__collection-name {
    color: var(--main-text-color);
    margin: 0;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    max-width: calc(100% - 24px - 8px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.create-item__collection-arrow {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.create-item__collection-arrow_active {
    transform: rotate(180deg);
}

.create-item__collection-arrow-fill {
    fill: var(--main-text-color);
}

.create-item__collection-drop {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4px 0 0;
    box-sizing: border-box;
}

.create-item__collection-drop-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
    background: var(--main-element-bg);
    /* element borders/dark */

    border: 1px solid var(--main-border-color);
    box-sizing: border-box;
    border-radius: 16px;
    margin: 4px 0 0;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

.create-item__collection-drop-item_selected {
    border-color: var(--main-link-color);

}

.create-item__collection-drop-item:first-of-type {
    margin: 0;
}

.create-item__collection-drop-img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 8px 0 0;
}

.create-item__collection-drop-name {
    margin: 0;
    color: var(--main-text-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    max-width: calc(100% - 8px - 52px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.create-item__collection-drop-no-items {
    color: var(--main-text-color);
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
}

.create-item__collection-create {
    text-decoration: none;
    width: 100%;
    height: 80px;
    margin: 4px 0 0;
    background: var(--main-link-color);
    /* element borders/dark */

    border: 1px solid var(--main-border-color);
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.create-item__collection-create-text {
    margin: 0;
    color: var(--main-link-text-color);

    font-family: 'Urbanist';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
}

.create-item__collection-drop-icon {
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
}

.create-item__collection-drop-icon-fill {
    fill: var(--main-text-color);
}


.create-item__list-selector {
    display: flex;
    flex-direction: row;
    margin: 40px 0 0;
}

.create-item__list-selector-text {
    margin: 0 23px 0 0;
    color: var(--main-text-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    max-width: calc(100% - 23px - 51px);
}

.create-item__list-selector-handler {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 51px;
    height: 31px;
    background-color: var(--main-border-color);
    border-radius: 100px;
    padding: 0 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.create-item__list-selector-handler_active {
    background-color: var(--main-link-color);
}

.create-item__list-selector-handler-circle {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: var(--main-link-text-color);
    transition: margin 0.3s ease-in-out;
}

.create-item__list-selector-handler-circle_active {
    margin: 0 0 0 20px;
}

.create-item__preloader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;
    height: 60vh;

}

.create-item__preloader-text{
    margin: 0;
    color: var(--main-text-color);
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    margin: 0 0 40px;
}

.create-item__preloader-text_transparent{
    opacity: 0;
    color: transparent;
}

@media (max-width: 1280px) {
    .create-item {
        padding: 0 20px;
    }

    .create-item__title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 100%;
        max-width: 702px;
        width: 90%;
    }

    .create-item__title-error{
        max-width: 702px;
        width: 90%;
    }
    .create-item__inputs {
        max-width: 314px;
    }

    .create-item__input-title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
    }

    .create-item__input-subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
    }

    .create-item__container {
        max-width: 702px;
        width: 90%;
    }

    .create-item__preview {
        width: calc(100% - 314px - 64px);
    }

    .create-item__input-elem {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
    }

    .create-item__textarea {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
    }

    .create-item__content-warning-heading-text {
        font-size: 18px;
    }

    .create-item__content-warning-heading-icon {
        width: 20px;
        height: 20px;
        margin: 0 12px 0 0;
    }

    .create-item__content-warning-selector-text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
    }
    .create-item__list-selector-text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
    }

    .create-item__preview-title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
    }
    .create-item__preloader-text{
        max-width: 90%;
        text-align: center;
        font-size: 20px;
    }
}

@media (max-width: 760px) {
    .create-item {
        padding: 0 12px;
    }

    .create-item__inputs {
        margin: 0;
        max-width: 100%;
    }

    .create-item__preview {
        display: none;
    }

    .create-item__input-file-container {
        width: 100%;
    }

    .create-item__file-box {
        width: 274px;
    }

    .create-item__input-elem {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
    }

    .create-item__textarea {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
    }

    .create-item__input-subtitle {
        font-size: 14px;
    }

    .create-item__inpot-hint {
        font-size: 12px;
    }

    .create-item__inpot-error {
        font-size: 12px;
    }

    .create-item__collection-create-text {
        font-size: 16px;
    }

    .create-item__collection-name {
        font-size: 16px;
    }

    .create-item__collection-drop-name {
        font-size: 16px;
    }

    .create-item__collection-drop-no-items {
        font-size: 16px;
    }

    .create-item__collection-drop-img {
        width: 32px;
        height: 32px;
    }

    .create-item__collection {
        height: 60px;
    }

    .create-item__collection-drop {
        margin: 8px 0 0;
    }

    .create-item__collection-drop-item {
        height: 60px;
        margin: 8px 0 0;
    }

    .create-item__collection-create {
        height: 60px;
        margin: 8px 0 0;
    }
}

@media (max-width: 560px) {

    .create-item__container {
        width: 100%;
    }

    .create-item__title {
        width: 100%;
    }
    .create-item__title-error{
        width: 100%;
        font-size: 14px;
        margin: 12px 0 0;
    }
    .create-item__preloader{
        height: 80vh;
    }
    .create-item__preloader-text{
        text-align: left;
        margin: 0 0 14px;
    }
    .create-item__preloader-text_transparent{
       display: none;
    }
}