.search-page {
    display: flex;
    flex-direction: column;
}


.search-page__container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px * 2);
    max-width: 1520px;
    margin: 60px auto;
    padding: 0 40px;
    /* min-height: 3000px; */
}

.search-page__title {
    margin: 0;
    color: var(--main-text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 100%;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search-page__title-span {
    opacity: 0.8;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.search-page__pages {
    margin: 66px 0 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--main-border-color);
}


.search-page__pages-link {
    text-decoration: none;
    margin: 0 32px -4px 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.search-page__pages-link:last-of-type {
    margin: 0 0 -4px;
}

.search-page__pages-link-line {
    background-color: transparent;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    margin: 6px 0 0;
    transition: background-color 0.3s ease-in-out;

}

.search-page__pages-link-line_active {
    background-color: var(--main-link-color);
}

.search-page__pages-link-texts {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 24px;
}

.search-page__pages-link-text {
    text-decoration: none;
    margin: 0;
    color: var(--main-border-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    transition: color 0.3s ease-in-out;
}

.search-page__pages-link-text_active {
    color: var(--main-text-color);
}

.search-page__pages-link-count {
    margin: 0 0 0 8px;
    background: var(--main-link-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    min-height: 21px;
    /* box-sizing: border-box; */
    min-width: 16px;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;
}

.search-page__pages-link-count_active {
    background: var(--main-link-color);
    opacity: 1;
}

.search-page__pages-link-count-text {
    margin: 0;
    color: var(--main-link-text-color);
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    transition: color 0.3s ease-in-out;
}

.search-page__pages-link-count-text_active {
    color: var(--main-link-text-color);
}

.search-page__pages-dropdown {
    display: none;
}

.search-page__page {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.search-page__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    border-radius: 1000px;
    /* background-color: var(--header-input-background-color); */
    width: calc(100%);
    box-sizing: border-box;
    max-width: 1075px;
    margin: 20px 0 0;
    border: 1px solid var(--main-border-color-hover);
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s linear;
    position: relative;
}




.search-page__input-container_focus {
    border-color: var(--main-border-color-focus) !important;
}

.search-page__input-search {
    opacity: 0.4;
    fill: var(--main-text-color);
    transition: opacity 0.2s ease-in-out;
    margin: 0 8px 0 0;

}

.search-page__input-search_active {
    opacity: 1;
}

.search-page__input {

    -webkit-appearance: none;
    background-color: unset;
    font: unset;
    text-rendering: unset;
    letter-spacing: unset;
    word-spacing: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    display: unset;
    text-align: unset;
    appearance: unset;
    font-style: normal;
    border: none;

    transition: color 0.2s linear;
    caret-color: var(--main-text-color);
    color: var(--main-text-color);
    width: calc(100% - 16px - 8px - 16px - 8px);

}

.search-page__input:focus {
    outline: none;
}

.search-page__input::placeholder {
    transition: color 0.2s linear;
    color: var(--main-text-color);
    opacity: 0.4;
}


.search-page__input-reset {
    opacity: 0;
    fill: var(--main-text-color);
    transition: opacity 0.2s ease-in-out;
    margin: 0 0 0 auto;
}

.search-page__input-svg-fill {
    transition: fill 0.2s linear;
    fill: var(--main-text-color);
}



.search-page__input-reset_visible {
    opacity: 0.6;
    cursor: pointer;
}

.search-page__input-reset_visible:hover {
    opacity: 1;
}

.search-page__preloader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0;
    width: 100%;
}

@media (max-width: 1280px) {
    .search-page__container {
        width: calc(100% - 20px * 2);
        padding: 0 20px;
    }

    .search-page__title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 100%;
    }

    .search-page__pages-link-text {
        font-size: 16px;
    }
}

@media (max-width: 760px) {
    .search-page__container {
        width: calc(100% - 12px * 2);
        padding: 0 12px;
    }

    .search-page__title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        white-space: normal;
    }
}