.preloader {
    display: flex;
    flex-direction: column;
}

.preloader__container {
    width: 156px;
    height: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.preloader__loader {
animation: rotate 0.5s infinite linear;
}
.preloader__loader-color{
    stop-color: var(--main-preloader-color);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}